.up2{
    display: flex;
    justify-content: center;
    position: absolute;
    top:0;
    background-color: #7F61BA;
    width: 100vw; 
    height: 28vh; 
    border-radius: 0 0 30px 30px;
    z-index: 1;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

}

.sbb{
    text-align: center;
    position: absolute;
    font-size: 19px;
    color: white;
    font-weight: 700;
    top: 1.5vh;
}

.jedan{
    position: absolute;
    left: 35.9vw;
    top: 6vh;
    height: 15.38vh;
    width: 28.1vw;
    background-color: white;
    border-radius: 20px;
    margin: 0;
}
.dva{
    position: absolute;
    left: 3.9vw;
    top: 10vh;
    height: 15.38vh;
    width: 28.1vw;
    background-color: white;
    border-radius: 20px;
}

.tri{
    position: absolute;
    right: 3.9vw;
    top: 10vh;
    height: 15.38vh;
    width: 28.1vw;
    background-color: white;
    border-radius: 20px;
}

.jedanK{
    position: absolute;
    left: 35.9vw;
    top: 6vh;
    height: 15.38vh;
    width: 28.1vw;
    background-color: black;
    border-radius: 50pc;
    margin: 0;
}
.dvaK{
    position: absolute;
    left: 3.9vw;
    top: 10vh;
    height: (1vh)/(1vw);
    width: (1vh)/(1vw);
    background-color: black;
    border-radius: 50pc;
}

.triK{
    position: absolute;
    right: 17.5vw;
    top: 23.63vh;
    height: 3.51vh;
    width: 3.51vh;
    background-color: black;
    border-radius: 50pc;
}